.menuUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .listMenu {
    float: left;
  }
  
  .listMenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .listMenu a:hover {
    background-color: #111;
    color: white;
  }
  
  /* .listMenu .active {
    background-color: #F8F046;
    color: black;
  } */
  #bannerImage{
    width: 100%;
  }
  .footLi{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
  }
  .footLi a{
    text-decoration: none;
    color: white;
  }
  .row{
    background-color: rgb(240, 238, 238);
    height: fit-content;
    text-align: center;
  }
  .destination, .departure{
    height: 40px;
    width: 400px;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#scheduleUl{
    text-decoration: none;
    background-color: rgb(240, 238, 238);
    height: fit-content;
    
}
.tblRoute{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}